@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.custom-font h1 {
    display: block;
    font-size: 2em !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.custom-font h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}